* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.actionborder {
    background: gray;
    width: 100%;
    height: 50px;
}

tr {
    border-left: 6px solid rgba(160, 243, 146, 1); 
}

