* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.actionborder {
    background: gray;
    width: 100%;
    height: 50px;
}

tr {
    border-left: 6px solid rgba(160, 243, 146, 1); 
}

.nav-link {
    color:white !important;
}

.details-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#textarea-tanggapan {
    border: none;
    resize: none;
    background-color: white;
}

.profile-container {
    text-align: center;
    margin: 0 auto;
}
.pfp-container {
    width: 150px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto; /* Center the container */
}

.pfp {
    height: auto;
    display: block;
}

.petugas-user-pfp {
    display: flex;
    align-items: center;
}
